page-login {
    .vertical-align-content > *
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .horizontal-align-text
    {
        text-align: right;
    }
}
